---
layout: base
---


<a name="landing"></a>
<section aria-label="hero" class="bg-hero-light dark:bg-hero-dark flex items-center justify-center h-screen bg-fixed">
  <div class="text-center">
    <h1 class="text-6xl dark:text-white font-medium mb-6">Looking for someone?</h1>
    <div class="flex w-full justify-center">
      <a class="dark:text-white  flex items-center mt-4 mx-auto text-3xl px-5 py-3 border-2 border-black dark:border-white rounded-md hover:shadow-md font-medium
    hover:bg-white hover:border-white  dark:hover:bg-gray-900 dark:hover:border-gray-900" href="#home">
        <span class="mr-2"> Find the right person</span>
        <span class="w-8 h-8">
          {% include "icons/down-arrow.njk" %}
        </span>
      </a>
    </div>
  </div>
</section>

{% include "navbar.njk" %}

<article role="alert" id="notification"
  class="hidden sm:flex dark:bg-opacity-50 text-lg absolute w-full z-30 text-blue-900 dark:text-blue-100 text-center px-6 py-1 bg-blue-100 border-blue-200 dark:bg-blue-800 dark:border-blue-900 border-2">
  <div class="flex-1">
    <p>The content of this page was fetched from various API's. The page was generated with 11ty.
      <a href="https://github.com/bluebrown/nico-braun" class="underline hover:text-blue-700 dark:hover:text-white">Visit the repo to create your own!</a>
    </p>
  </div>
  <button title="close" onclick="c()" class="">
    <span class="pointer-events-none">{%include "icons/cancel.njk" %}</span>
  </button>
  <script>function c() { document.getElementById('notification').remove(); }</script>
</article>

<a class="relative top-6" name="home"></a>

<div class="flex">

  <aside class="text-primary bg-gray-100 dark:bg-gray-600 w-screen max-w-xs 4xl:max-w-ms 5xl:max-w-md relative border-r dark:border-gray-700 hidden md:block">
    <nav class="sticky top-5 w-full">
      <ul class="text-center p-6 pt-16">
        {% for item in side %}
        <li
          class="text-xl rounded-md leading-loose hover:text-blue-700 dark:hover:text-blue-300 border my-2 bg-white dark:bg-gray-900 dark:border-black hover:shadow-md active:shadow-none">
          <a class="px-3 py-1 block w-full h-full" href="{{item.href}}">{{item.label}}</a>
        </li>
        {% endfor %}
      </ul>
      <section class="px-7 py-5 text-center">
        <h2 class="text-xl mb-2">Favorite Technologies</h2>
        {% set tags = favs %}
        {% include "taglist.njk" %}
      </section>
      <div class="p-6"></div>
    </nav>
  </aside>

  <main id="main" class="flex-1 relative">

    <section name="linkedin" class="py-16">
      <a name="bio"></a>
      <div class="container mx-auto">
        <h2 class="caption">The Author</h2>
        <article class="flex flex-col-reverse lg:flex-row p-8 bg-primary card-shadow">
          <div class=" px-5">
            <h1 class="text-4xl text-center leading-loose text-primary">{{bio.name}}</h1>
            <p class="text-center text-2xl text-secondary">{{bio.description}}</p>
            <p class="text-center pt-2"></p>
          </div>
          <div class="px-5 h-48 w-48 mx-auto lg:h-auto lg:w-auto">
            <img class="rounded-sm " src="{{bio.imgUrl}}" alt="{{bio.name}}" />
          </div>
        </article>
        <footer class="flex w-full justify-center mt-4">
          <a href="https://www.linkedin.com/in/nico-braun" class="see-more">
            <span class="mr-2"> See more on LinkedIn</span>
            {% include "icons/linkedin.njk" %}
          </a>
        </footer>
      </div>
    </section>

    <section name="featured_posts" class="py-16">
      <a name="blog"></a>
      <div class="container mx-auto">
        <h2 class="caption">Featured Dev.to Posts</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-3 min-h-0">
          {% for post in devposts %}
          <article class="bg-primary card-shadow flex-col-reverse flex relative">
            <div class="p-6 flex-1">
              <h1 class="text-2xl text-primary"> <a class=" card-link" href="{{post.canonical_url}}" >{{post.title}}</a></h1>
              <p class="text-ternary">Likes: {{post.positive_reactions_count}} &nbsp; Comments:
                {{post.comments_count}}</p>
              <p class="text-xl text-secondary">{{post.description}}</p>
              <p class="text-sm leading-loose text-ternary font-thin">{{post.published_timestamp.substring(0,10)}}</p>
            </div>
            <div class="rounded-t-md w-full"><img src="{{post.social_image}}" alt="post hero" class="rounded-t-md">
            </div>
          </article>
          {% endfor %}
        </div>
        <footer class="flex w-full justify-center mt-4">
          <a href="https://dev.to/codingsafari" class="see-more">
            <span class="mr-2"> See more on Dev.to</span>
            {% include "icons/devto.njk" %}
          </a>
        </footer>
      </div>
    </section>

    <section name="pinned_repos" class="py-16">
      <a name="git"></a>
      <div class="container mx-auto">
        <h2 class="caption">Pinned Github Repositories</h2>
        <div class="grid sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-3">
          {% for repo in repos -%}
          <article class="relative p-6 cursor-pointer bg-primary card-shadow">
            <h1 class="text-2xl text-primary"> <a class="card-link" href="{{repo.node.url}}">{{repo.node.name}}</a>
            </h1>
            <ul class="flex -mx-1 text-ternary">
              {% for lang in repo.node.languages.nodes %}
              <li class="px-1">
                {{lang.name}}
              </li>
              {% endfor %}
            </ul>
            <div class="text-xl text-secondary">
              {{ repo.node.descriptionHTML | safe }}
            </div>
            <p class="text-sm leading-loose text-ternary font-thin">{{repo.node.createdAt.substring(0,10)}}</p>
          </article>
          {%- endfor %}
        </div>
        <footer class="flex w-full justify-center mt-4">
          <a href="https://github.com/bluebrown?tab=repositories" class="see-more">
            <span class="mr-2"> See more on Github</span>
            {% include "icons/github.njk" %}
          </a>
        </footer>
      </div>
    </section>

    <section name="stackoverflow_answers" class="py-16">
      <a name="so"></a>
      <div class="container mx-auto">
        <h2 class="caption">Top Answers on Stack Overflow</h2>
        <div class="grid grid-cols-1 gap-3">
          {% for answer in stackoverflow %}
          <article class="relative flex p-6 bg-primary card-shadow">
            <section class="flex">
              <div class="text-center mr-4 flex flex-col text-ternary">
                <p class="leading-loose"> score: </p>
                <p class="text-xl font-mono">{{answer.score}}</p>
                <div class="flex-1"></div>
                <p class="text-sm text-green-700 dark:text-green-400 font-thin">
                  {% if answer.is_accepted %}
                  accepted
                  {% endif %}
                </p>
              </div>
              <div class="flex-1">
              <h1>
                  <a href="https://stackoverflow.com/q/{{answer.answer_id}}/{{answer.owner.user_id}}"
                    class="card-link text-2xl text-primary">{{answer.question.title | safe }}
                  </a>
                    &nbsp; <span class="text-sm font-thin text-ternary">{% trimmedIso answer.creation_date %} </span>
                </h1>
              </div>
     

            </section>

            <!--section class="markdown-body my-2 break-all">{{ answer.body | safe}}</section-->

          </article>
          {% endfor %}
        </div>
      </div>
      <div class="flex w-full justify-center mt-4">
        <a href="https://stackoverflow.com/users/9208887/the-fool?tab=profile" class="see-more">
          <span class="mr-2"> See more on Stack Overflow</span>
          {% include "icons/stackoverflow.njk" %}
        </a>
      </div>
    </section>

    <div class="py-8"></div>

  </main>
</div>