<footer class="relative bg-gray-100 dark:bg-gray-600 dark:border-gray-700 border-t flex flex-col items-center p-12">
  <a href="#home" class="absolute right-12 top-3 text-gray-700 hover:text-black dark:text-gray-300 dark:hover:text-white">Back to top</a>
  <a name="contact"></a>
  <ul class="w-full flex flex-wrap justify-center text-center -mx-3 text-xl text-gray-500 dark:text-gray-300 mt-5">
    {% for soc in social %}
      <li class="px-3">
        <a title="{{soc.label}}" class="flex items-center hover:text-gray-700 dark:hover:text-white" href="{{soc.href}}">
          {% include "icons/"  + soc.icon + ".njk" %}
        </a>
      </li>
    {% endfor %}
  </ul>

  <p class="text-gray-700 dark:text-gray-300 mt-12">
    Copyright 2021 Nico Braun. All right reserved.
    <a class="text-sm hover:text-gray-900 dark:hover:text-white hover:underline" href="/terms-of-use">Term of Use</a>
  </p>
</footer>