---
layout: base
---

<section class="container max-w-3xl mx-auto min-h-screen">
  <article class="p-6 my-12 main-surface markdown-body">
    <h1>{{title}}</h1>
    {{content | safe }}
    <div class="text-right">
      <a href="/">Go back to the homepage</a>
    </div>
  </article>
</section>