<div class="p-4 bg-gray-200 dark:bg-gray-800 border-black sticky top-0 z-40 flex justify-end shadow-lg">
    <button onclick="theme()"
      class="w-12 h-6 rounded-full p-1 bg-gray-400 dark:bg-gray-600 relative focus:outline-none transition-colors duration-500 ease-in">
      <div id="toggle"
        class="rounded-full w-4 h-4 bg-blue-600 dark:bg-blue-500 relative ml-0 dark:ml-6 pointer-events-none transition-all duration-300 ease-out">
      </div>
    </button>
  </div>